@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

body {
    max-width: 560px;
    margin: 4em auto 2em auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: whitesmoke;
    text-align: left;
    color: #052169;
}

h1 {
    width: 100%;
}

h2 {
    line-height: 150%;
    margin-top: 3em;
}

a {
    color: #227ce8;
    text-decoration: none;
}

header {
    text-align: right;
}

article p {
    line-height: 1.5em;
}

p {
    line-height: 1.4em;
}

.catalog-item {
    height: 200px;
    line-height: 180px;
}

.catalog-thumb {
    float: right;
    width: 320px;
}

img.gameicon:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
    opacity: 0.8;
}