@charset "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus:1c:100);

body {
    max-width: 500px;
    margin: 4em auto 2em auto;
    font-family: 'Tsukushi A Round Gothic',"Rounded Mplus 1c";
    background: white;
    text-align: left;
    color: #052169;
}

h1 {
    line-height: 160%;
    font-size: xx-large;
    height: 100%;
}

h2 {
    line-height: 150%;
    font-size: larger;
}

a {
    color: #227ce8;
    text-decoration: none;
}

header {
    text-align: right;
}

article p {
    line-height: 1.5em;
}

p {
    line-height: 1.4em;
}

.catalog-item {
    height: 200px;
    line-height: 180px;
}

.catalog-thumb {
    float: right;
    width: 320px;
}

.wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row no-wrap;
}




